.page-container
  &--override
    width: calc(100vw - 56px)
    position: relative
    left: calc((100% - 100vw)/2 + 28px)
    .page-header
      background-color: #222326
      padding: 32px 60px 0 60px
      .btn
        margin-left: 20px
      .hr
        height: 1px
        background-color: #343436
        width: 100vw
        margin-left: -60px
    .page-body--override
      padding: 28px 60px 0
      .header
        display: flex
        justify-content: space-between
      .title
        cursor: pointer
        display: flex
        h1
          font-size: 24px
          color: #eaeaea
          line-height: 24px
          font-weight: normal
          margin-bottom: initial
      .status
        font-size: 14px
        color: #8e8e8e
        span
          color: #c04c21
      .overview-panel
        background-color: #2d2d30
        border-radius: 3px
        padding: 16px 16px
        display: flex
        flex-direction: column
        margin-bottom: 10px
        &_header
          display: flex
          justify-content: space-between
          padding-bottom: 24px
        &_body
          display: flex
          justify-content: space-between
          color: #b8b8b8
          margin-top: 24px
          h2
            font-size: 18px
            font-weight: normal
            color: #b8b8b8
            margin-bottom: 20px
            line-height: 18px
          &_components
            display: flex
            flex-direction: column
            font-size: 14px
            margin-right: 20px
            .component
              margin-bottom: 8px
              display: flex
          &_namespaces
            display: flex
            align-content: flex-start
            flex-flow: wrap
            max-width: 700px
        &_btn
          display: flex
          min-width: 313px
          span
            margin: 0 10px
          span:last-child
            margin-right: 0
      .namespace-panel
        background-color: #212124
        margin-bottom: 10px
        padding: 16px 0
        .header
          padding: 0 16px
        &_body
          display: flex
          margin-top: 24px
          .column
            width: 100%
            display: flex
            flex-direction: column
            border-right: 1px solid #161719
            &:last-child
              border: none
            &_header h3
              color: #b8b8b8
              font-size: 18px
              margin-bottom: 24px
              margin-left: 10px
            &_cell
              display: flex
              flex-direction: column
              border-bottom: 1px solid #161719
              margin-bottom: 6px
              padding: 0 10px 12px
              i
                color: #b8b8b8
                font-size: 12px
                &:hover
                  color: #eaeaea
              h4
                margin-bottom: 6px
              &:last-child
                border: none
              &_header
                font-size: 14px
                color: #8e8e8e
                span
                  color: #eaeaea
              .pod
                display: flex
                line-height: initial
                font-size: 12px
                color: #b8b8b8
                &_title
                  top: 3px
                  position: relative
              .services
                margin-top: 12px
                color: #8e8e8e
                h5
                  font-size: 14px
                  line-height: initial
                  margin-left: 14px
                  color: #b8b8b8
                  margin-bottom: 6px
                .service
                  display: flex
                  margin-left: 6px
                  &_title
                    color: #b8b8b8
                    line-height: initial
                    font-size: 12px
                    span
                      color: #8e8e8e
                      line-height: 14px
                      font-size: 12px
                      border-right: 1px solid #2f2f32
                      margin-right: 5px
                      padding-right: 5px
                      &:last-child
                        border: none
                        margin: 0
                        padding: 0
.checkbox
  width: 165px
  display: flex
  margin-bottom: 6px
  margin-left: 10px
  input
    display: none
  span
    position: absolute
  label
    font-size: 14px
    line-height: 16px
    height: 18px
    padding-left: 24px
    position: relative
    cursor: pointer
.btn
  font-size: 12px
  padding: 0 20px
  line-height: 33px
  height: 33px
.chevron
  display: block
  width: 14px
  min-width: 14px
  height: 24px
  background: url(/public/plugins/devopsprodigy-kubegraf-app/img/chevron.svg) center no-repeat
  margin-right: 6px
  &:active
    transform: rotate(180deg)
.vertical-line
  display: inline-block
  width: 1px
  height: 33px
  background-color: #161719
.namespace-counter
  font-size: 14px
  line-height: 33px
  height: 33px
  color: #8e8e8e
  .active
    color: #c74c2a
.status-indicator
  display: block
  min-width: 6px
  width: 6px
  height: 6px
  border-radius: 100%
  margin-top: 8px
  margin-right: 8px
  &.red, &.error
    background-color: #d34d36
  &.green, &.success
    background-color: #83df57
  &.yellow, &.warning
    background-color: #fcff00
  &.terminating
    background-color: #555555

.dot-grey
  display: block
  min-width: 3px
  width: 3px
  height: 3px
  border-radius: 100%
  margin-top: 5px
  margin-right: 5px
  background-color: #555555

.card-item-label
  margin: -1px 0 0 8px
  position: relative
  cursor: pointer

.btn
  .fa.override--fa
    top: 0

i.grey
  opacity: 0.3

i.active
  opacity: 1

.override--
  &pod_status
    display: block
    width: 10px
    height: 10px
    border-radius: 100%
    position: absolute
    top: 5px
    left: 0
    &_error
      background: red
    &_warning
      background: yellow
    &_success
      background: #18e018
    &_terminating
      background: #056b11
  &node_status
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 100%
    margin-left: 15px
  &nodeTable_status
    display: block
    width: 10px
    height: 10px
    border-radius: 100%
  &borderBottom
    border-bottom: 1px solid
    padding-bottom: 10px
    padding-top: 10px
    &:last-child
      border-bottom: none
  &borderRight
    border-right: 1px solid
    &:last-child
      border-right: none
  &table
    width: 100%
    tr
      width: 100%
      th:nth-child(1)
        width: 15%
      th:nth-child(2)
        width: 35%
      th:nth-child(3)
        width: 25%
      th:nth-child(4)
        width: 25%
      td:nth-child(1)
        width: 15%
      td:nth-child(2)
        width: 35%
      td:nth-child(3)
        width: 25%
      td:nth-child(4)
        width: 25%
  &table_ns
    width: 100%
    tr
      width: 100%
      th:nth-child(1)
        width: 5%
      th:nth-child(2)
        width: 45%
      th:nth-child(3)
        width: 25%
      th:nth-child(4)
        width: 25%
      td:nth-child(1)
        width: 5%
      td:nth-child(2)
        width: 45%
      td:nth-child(3)
        width: 25%
      td:nth-child(4)
        width: 25%
  &table_ns_6
    width: 100%
    tr
      width: 100%
      th:nth-child(1)
        width: 5%
      th:nth-child(2)
        width: 45%
      th:nth-child(3)
        width: 12.5%
      th:nth-child(4)
        width: 12.5%
      th:nth-child(5)
        width: 12.5%
      th:nth-child(6)
        width: 12.5%
      td:nth-child(1)
        width: 5%
      td:nth-child(2)
        width: 45%
      td:nth-child(3)
        width: 12.5%
      td:nth-child(4)
        width: 12.5%
      td:nth-child(5)
        width: 12.5%
      td:nth-child(6)
        width: 12.5%
  &card-item
    display: inline-block
    padding: 5px
    margin-right: 5px
    margin-bottom: 5px
    &:last-child
      margin-right: 0
  &full-width
    width: 100%

.pulse
  animation-duration: 1s
  animation-name: pulse
  animation-iteration-count: infinite
  animation-direction: alternate

input.toggle-checkbox
  display: none

input[type=checkbox].toggle-checkbox:checked+label:before
    background: url(/public/img/checkbox.png) 0 -18px no-repeat

label.toggle-checkbox
  display: flex
  cursor: pointer
  &:before
    content: ''
    display: inline-block
    width: 22px
    min-width: 22px
    height: 18px
    background: url(/public/img/checkbox.png) 0 0 no-repeat

@keyframes pulse
  @for $i from 0 through 100
    #{$i}%
      opacity: calc(1 - #{$i}/100)

@media (max-width: 940px)
  .header-btn
    position: relative
    top: 2px

  .page-header .btn
    float: initial
    margin-left: 0
    margin-right: 15px

.explore-toolbar-item
  list-style: inside
