<section ng-if="ctrl.pageReady" class="page-container--override">
    <div class="page-header">
        <div class="row">
            <nav class="gf-tabs col-md-9">
                <div class="gf-tabs-item"><a class="gf-tabs-link active" target="_self" href="plugins/devopsprodigy-kubegraf-app/page/cluster-status?clusterId={{ctrl.cluster.id}}">Cluster Status</a></div>
                <div class="gf-tabs-item"><a class="gf-tabs-link" target="_self" href="plugins/devopsprodigy-kubegraf-app/page/cluster-overview?clusterId={{ctrl.cluster.id}}">Applications Overview</a></div>
                <div class="gf-tabs-item"><a class="gf-tabs-link" target="_self" href="plugins/devopsprodigy-kubegraf-app/page/nodes-overview?clusterId={{ctrl.cluster.id}}">Nodes Overview</a></div>
            </nav>
            <div class="col-md-3">
                <a class="btn btn-secondary timepicker-rangestring" target="_self" href="plugins/devopsprodigy-kubegraf-app/edit">
                    <i class="fa fa-fw fa-cog override--fa"/>&nbsp;
                    Plugin Config
                </a>
                <a class="btn btn-secondary" target="_self" href="plugins/devopsprodigy-kubegraf-app/page/cluster-config?clusterId={{ctrl.cluster.id}}">
                    <i class="fa fa-fw fa-cog override--fa"></i>&nbsp;
                    Edit
                </a>
            </div>
        </div>
        <hr/>
        <div class="rpw explore-pane">
            <div class="col-md-6">
                <h1>Overview: <span ng-bind="ctrl.cluster.name"/>. Alerts</h1>
            </div>
        </div>
    </div>
    <br />
    <section ng-if="ctrl.nodesMapReady && ctrl.clusterProblem()">
        <div class="row">
            <div class="col-md-6">
                <div class="markdown-html explore-panel">
                    <table style="width: 100%">
                        <tr>
                            <th>Status</th>
                            <th>Entity</th>
                            <th>Error message</th>
                        </tr>
                        <!--services problem-->
                        <tr ng-if="ctrl.getAlertsComponents.length > 0"><td>Services</td></tr>
                        <tr ng-repeat="component in ctrl.getAlertsComponents">
                            <td>
                                <span class="override--nodeTable_status" ng-style="{'background': component.color}"></span>
                            </td>
                            <td ng-bind="component.name"></td>
                            <td ng-bind="component.message"></td>
                        </tr>
                        <!--Node-->
                        <tr ng-if="ctrl.getWarningNodes().length > 0"><td colspan="3"><b>Node</b></td></tr>
                        <tr ng-repeat="node in ctrl.getWarningNodes()">
                            <td>
                                <span class="override--nodeTable_status override--pod_status_{{node.color}}"></span>
                            </td>
                            <td class="pointer">
                                <span ng-bind="node.name" />
                                <span>
                                    <a href="{{ctrl.getNodeDashboardLink(node)}}" target="_blank" style="color: #fff">
                                        <i class="fa fa-eye"/>
                                    </a>
                                </span>
                            </td>
                            <td ng-bind="node.message"></td>
                        </tr>
                        <!--Resources-->
                        <tr ng-if="ctrl.getAlertsNodesByCPU().length > 0 || ctrl.getAlertsNodesByMemory().length > 0 || ctrl.getAlertsNodesByPods().length > 0"
                        >
                            <td colspan="3"><b>Resources</b></td>
                        </tr>
                        <!--cpu used-->
                        <tr ng-repeat="node in ctrl.getAlertsNodesByCPU()">
                            <td>
                                <span class="override--nodeTable_status" ng-style="{'background' : node.rowCpuColor}"></span>
                            </td>
                            <td>Node:
                                <span ng-bind="ctrl.getAlertsNodesByCPU()[0].name" />
                                <span>
                                    <a href="{{ctrl.getNodeDashboardLink(node)}}" target="_blank" style="color: #fff">
                                        <i class="fa fa-eye"/>
                                    </a>
                                </span>
                            </td>
                            <td>CPU used: <span ng-bind="node.cpuPercentUsed" /></td>
                        </tr>
                        <!--memory used-->
                        <tr ng-repeat="node in ctrl.getAlertsNodesByMemory()">
                            <td>
                                <span class="override--nodeTable_status" ng-style="{'background' : node.rowMemoryColor}"></span>
                            </td>
                            <td>Node:
                                <span ng-bind="ctrl.getAlertsNodesByMemory()[0].name" />
                                <span>
                                    <a href="{{ctrl.getNodeDashboardLink(node)}}" target="_blank" style="color: #fff">
                                        <i class="fa fa-eye"/>
                                    </a>
                                </span>
                            </td>
                            <td>Memory used: <span ng-bind="node.memoryPercentUsed" /></td>
                        </tr>
                        <!--pods used-->
                        <tr ng-repeat="node in ctrl.getAlertsNodesByPods()">
                            <td>
                                <span class="override--nodeTable_status" ng-style="{'background' : node.rowPodsColor}"></span>
                            </td>
                            <td>Node:
                                <span ng-bind="ctrl.getAlertsNodesByPods()[0].name" />
                                <span>
                                    <a href="{{ctrl.getNodeDashboardLink(node)}}" target="_blank" style="color: #fff">
                                        <i class="fa fa-eye"/>
                                    </a>
                                </span>
                            </td>
                            <td>Pods count used: <span ng-bind="node.podsPercentUsed" /></td>
                        </tr>

                        <!--fail pods-->
                        <tr ng-if="ctrl.getWarningPods().length > 0"><td colspan="3"><b>Pods</b></td></tr>
                        <tr ng-repeat="pod in ctrl.getWarningPods()" ng-if="!pod.is_deleted">
                            <td>
                                <span class="override--nodeTable_status override--pod_status_{{pod.color}}"></span>
                            </td>
                            <td class="pointer" ng-click="ctrl.goTo(pod.name)">
                                <span ng-bind="pod.name"></span>
                                <span>
                                    <a href="{{ctrl.getPodDashboardLink(pod)}}" target="_blank" style="color: #fff">
                                        <i class="fa fa-eye"/>
                                    </a>
                                </span>
                            </td>
                            <td ng-bind="pod.message"></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="ctrl.nodesMapReady && !ctrl.clusterProblem()">
        <div class="pointer card-item-label col-md-12">
            <span class="override--pod_status override--pod_status_success"></span>
            <h3>YOUR CLUSTER IS OKAY</h3>
        </div>
    </section>
</section>
