    <div class="page-header">
        <h1 ng-show="!ctrl.cluster.id">Add new cluster</h1>
        <h1 ng-show="ctrl.cluster.id" ng-bind="ctrl.cluster.name"></h1>
    </div>
    <hr/>
    <form name="clusterForm">
        <div class="gf-form-group">
            <div class="gf-form-inline">
                <div class="gf-form">
                    <span class="gf-form-label width-10">Name</span>
                    <input class="gf-form-input width-20" type="text" ng-model="ctrl.cluster.name" placeholder="Enter your cluster's name" required/>
                </div>
            </div>
        </div>

        <div class="gf-form-group">
            <div class="gf-form-inline">
                <div class="gf-form">
                    <span class="gf-form-label width-10">Access type</span>
                    <select class="gf-form-input width-20"
                        required
                        ng-model="ctrl.cluster.jsonData.access_type"
                    >
                        <option value="{{ ctrl.httpAccessConst }}">Grafana http-settings</option>
                        <option value="{{ ctrl.tokenAccessConst }}">Bearer token</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="gf-form-group" ng-if="ctrl.cluster.jsonData.access_type == ctrl.tokenAccessConst">
            <h3 class="page-heading">HTTP</h3>

            <div class="gf-form">
                <div class="gf-form max-width-30">
                    <span class="gf-form-label width-10">URL</span>
                    <input class="gf-form-input gf-form-input--has-help-icon" type="text"
                           ng-model='ctrl.cluster.url' placeholder="https://localhost:8443"
                           bs-typeahead="getSuggestUrls"  min-length="0"
                           ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/" required></input>
                    <info-popover mode="right-absolute">
                        <p>Specify a complete HTTP URL (for example http://your_server:8443)</p>
                        <span>
                            Your access method is <em>Server</em>, this means the URL
                            needs to be accessible from the grafana backend/server.
                        </span>
                    </info-popover>
                </div>
            </div>
            <div class="gf-form max-width-30">
                <span class="gf-form-label width-10">Token</span>

                <input type="password" class="gf-form-input width-20" ng-model='ctrl.cluster.secureJsonData.access_token' placeholder="Token"></input>

            </div>

        </div>

        <datasource-http-settings
                ng-if="ctrl.cluster.jsonData.access_type == ctrl.httpAccessConst"
                current="ctrl.cluster"
                suggest-url="https://localhost:8443">
        </datasource-http-settings>

        <div class="gf-form-group">
            <div class="gf-form-inline">
                <div class="gf-form">
                    <span class="gf-form-label width-20">Additional Prometheus datasource</span>
                    <select class="gf-form-input"
                        ng-model="ctrl.cluster.jsonData.prom_name"
                        ng-options="prom.name as prom.name for prom in ctrl.prometheusList"
                    ></select>
                </div>
            </div>
        </div>

        <div class="gf-form-group">
            <div class="gf-form-inline">
                <div class="gf-form">
                    <span class="gf-form-label width-20">Refresh pods' rate</span>
                    <select class="gf-form-input"
                        required
                        ng-model="ctrl.cluster.jsonData.refresh_pods_rate"
                    >
                        <option value="15">15s</option>
                        <option value="30">30s</option>
                        <option value="60">1m</option>
                        <option value="120">2m</option>
                        <option value="300">5m</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" ng-click="ctrl.saveCluster()" ng-disabled="!ctrl.check()">Save</button>
            </div>
        </div>
    </form>
